# PostgreSQL – Neon
DATABASE_URL="postgresql://user:password@ep-xxx.neon.tech/cinemax?sslmode=require&pgbouncer=true&connect_timeout=15"
DIRECT_URL="postgresql://user:password@ep-xxx.neon.tech/cinemax?sslmode=require"

# NextAuth
AUTH_SECRET="run: openssl rand -base64 32"
AUTH_URL="http://localhost:3000"

# Google OAuth
AUTH_GOOGLE_ID="your-google-client-id"
AUTH_GOOGLE_SECRET="your-google-client-secret"

# App URL (dùng cho sitemap & robots)
NEXT_PUBLIC_BASE_URL=https://your-app.vercel.app

# TMDB
TMDB_API_KEY=your_tmdb_api_key_here
TMDB_BASE_URL=https://api.themoviedb.org/3
NEXT_PUBLIC_TMDB_IMAGE_BASE=https://image.tmdb.org/t/p
